header{
    position: relative;
    width:100%;
    height:0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 56.25%;
    overflow:hidden;
    background-size:160%; /* You can override this value if your picture has a weird ratio */
    background-position:50% 50%;
}
.image-header{
    margin: 4% auto 0 auto;
}
md-content.md-default-theme, md-content {
  background-color: #ede7f6;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }
 footer.md-defautl-theme, footer{
 	background-color: #651fff;
 	color: #ffffff;
 }

.intro{
  min-height: 500px;
  background: url("images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.transp-bg{
  background-color: transparent;
}













