<h1>Demo: Simple Lists</h1>

<div class="alert alert-success">
    <strong>Instructions:</strong>
    Drag &amp; drop the list items to move them around, or just click to select them.
    If that's too boring, check out the <a href="#/nested">nested container demo</a>
</div>

<div class="simpleDemo" layout="row">
    <div layout="column" flex>
        <div layout="row">
            <div>
                <div >
                    <div>
                        <h3>List A</h3>
                    </div>
                    <div ng-include="'partials/simple.html'"></div>
                </div>
            </div>
        </div>
        <div layout="row">
            <div>
                <div >
                    <div>
                        <h3>List B</h3>
                    </div>
                    <div ng-include="'partials/simple2.html'"></div>
                </div>
            </div>
        </div>

        <div view-source="simple"></div>

    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Generated Model</h3>
            </div>
            <div class="panel-body">
                <pre class="code">{{modelAsJson}}</pre>
            </div>
        </div>
    </div>

</div>

    <li ng-repeat="item in models.lists.A">
        <div class="container">
            <div class="slider" create-slider urls='item.urls' current="current" item="item" list="models.lists.A">
        </div>
        </div>
    </li>

<style>


.md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
 .green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
md-grid-tile {
  transition: all 400ms ease-out 50ms; }


</style>

  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile  
        ng-repeat="item in models.lists.A" ng-style="{'background': item.color}">
    <li style="list-style-type: none;" >
        <div class="container">
            <div class="slider" create-slider urls='item.urls' current="current" item="item" list="models.lists.A">
            </div>
        </div>
    </li>
        <md-grid-tile-footer>
            <h3>{{item.name}} ({{item.urls.length}})</h3>
        </md-grid-tile-footer>
    </md-grid-tile >
 </md-grid-list>

           <div flex="45" flex-gt-sm="45" flex-xs="100" class="white-background" layout-margin>

          </div>

