  <md-toolbar class="md-whiteframe-5dp md-hue-1">
        <div class="md-toolbar-tools">
          <span flex></span>
          <md-button  aria-label="About us" ng-click="scrollTo('about')" hide-xs>
            About us
          </md-button>
          <md-button  aria-label="Contact" ng-click="scrollTo('contact')" hide-xs>
            Contact
          </md-button>
          <md-button aria-label="Sign up" ng-click="showSignIn($event)" hide-xs>
            Sign up
          </md-button>
          <md-button  aria-label="Log in" ng-click="showLogIn($event)" hide-xs>
            Log in
          </md-button>
          <md-menu>
            <md-button class="md-icon-button" aria-label="More" show-xs hide-gt-xs ng-click="openMenu($mdOpenMenu, $event)">
              <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button> 
            <md-menu-content width="2">
              <md-menu-item>
                <md-button aria-label="About us" ng-click="scrollTo('about')">
                  About us
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button aria-label="Contact" ng-click="scrollTo('contact')">
                  Contact
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button aria-label="Sign up" ng-click="showSignIn($event)">
                  Sign up
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button aria-label="Log in" ng-click="showLogIn($event)">
                  Log in
                </md-button>
              </md-menu-item>
            </md-menu-content>
        </md-menu>
        </div>
  </md-toolbar>

  <div flex layout="column" >
      <!--LOGO AND CLOTHING SLIDER-->
      <div layout="row" layout-align="center" class="header-logo-div"flex>
        <md-whiteframe layout layout-align="center" class="header-logo-image" flex="70" >    
          <img ng-src="images/clothboard.svg"  flex="100"></img>
        </md-whiteframe>
      </div>
      <!--BUTTON TO GO TO LOGIN-->
      <div layout="row" layout-align="center"flex>
        <md-button class="md-raised md-warn button-header" ng-click="showLogIn($event)">Find your perfect fit</md-button>
      </div>
  </div>

     <!--CONTENT HOW IT WORKS--> 
    <md-content class="md-padding" >
      <!--header how it works-->
      <div layout="row" layout-align="center" flex>
        <h1 class="md-display-1" id="about">How it works</h1>
      </div>
      <!--subheader-->
      <div layout="row" layout-align="center center" flex>
        <h3 class="md-title">3 simple steps to create your daily fashion</h3>
      </div>
      <!--ROW WHERE EXPLAINS 3 STEPS-->
      <div layout="row" layout-sm="column" layout-xs="column">
        <!--first step-->
        <div flex class="how-align">
            <img ng-src="images/upload.png" class="md-whiteframe-2dp" ></img>
            <md-card flex="70" flex-offset="15">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Upload Your Items</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Upload your clothes from your device and categorise them into correct labels. They will be stored in your online cupboard.
                </p>
              </md-card-content>
            <md-card>
        </div>
        <!--second step-->
        <div flex class="how-align">
          <img ng-src="images/draganddrop.png" class="md-whiteframe-2dp"></img>
          <md-card flex="70" flex-offset="15">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Drag and Drop</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Drag the folder from your online cupboard and then drop them onto the ClothBoard.
              </p>
            </md-card-content>
          <md-card>
        </div>
        <!--third step-->
        <div flex  class="how-align">
          <img ng-src="images/enjoy.png" class="md-whiteframe-2dp"></img>
          <md-card flex="70" flex-offset="15">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Create Your Fashion</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Tab the arrow buttons to switch clothing to see different combinations. Enjoy creating your own style.
              </p>
            </md-card-content>
          <md-card>
        </div>
      </div>
    </md-content>
      <!--header how it works-->
      <div layout="row" layout-align="center" flex>
        <h1 class="md-display-1" id="contact">Contact</h1>
      </div>
      <!--subheader-->
      <div layout="row" layout-align="center center" flex>
        <h3 class="md-title">We want to know from you</h3>
      </div>    
      <div layout="row" layout-align="center center">
        <form name="contactForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input maxlength="30" required name="contactName" ng-model="contact.Name">
            <div ng-messages="contactForm.contactName.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block"  flex-gt-sm>
            <label>Email</label>
            <input required type="email" name="contactEmail" ng-model="contact.Email"
                   minlength="10" maxlength="50" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="contactForm.contactEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 30 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Comment</label>
          <textarea ng-model="contact.comment" name="comment" md-maxlength="200" rows="5" md-select-on-focus required></textarea>
            <div ng-messages="contactForm.comment.$error" role="alert">
              <div ng-message="required">You haven't told us anything</div>
            </div>
        </md-input-container>
      <md-button class="add-tab md-warn md-raised" ng-disabled="!contact.Name || !contact.Email || !contact.comment" type="submit">Send Comment</md-button>
        </form>
      </div>
      <div layout="row" layout-align="center center">
          <a href="#/"><img ng-src="images/facebook2.png" ></img></a>
          <a href="#/"><img ng-src="images/instagram2.png" ></img></a>
          <a href="#/"><img ng-src="images/twitter2.png" ></img></a>
      </div>



